.boxshadow {
  -webkit-box-shadow: 2px 2px 19px 3px rgba(0, 0, 0, 0.58);
          box-shadow: 2px 2px 19px 3px rgba(0, 0, 0, 0.58);
}

.logo img {
  height: 150px;
  width: 150px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.logo img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navbar {
  background-color: #c79f6c;
}

.navbar-dark .navbar-nav .nav-link {
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active {
  color: #f8ecdc;
}

.ubicacion {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mapa {
  height: 500px;
  width: 700px;
}

.formulario {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 4px;
  width: 600px;
}

footer {
  background-color: #c79f6c;
  width: 100%;
  height: auto;
  color: white;
  width: 100%;
  height: auto;
  padding: 8px;
  font-family: "Roboto", sans-serif;
}

footer p {
  text-align: center;
}

.navfooter {
  padding: 0;
  margin: 0;
}

.navfooter li {
  display: inline-block;
}

.navfooter li a {
  padding: 10px;
  color: white;
}

.navfooter li a:hover {
  color: #8d6735;
}

.social h3 {
  font-weight: bold;
  font-size: 18px;
  color: #f8ecdc;
}

.social ul li {
  display: inline-block;
}

.social ul li a {
  display: inline-block;
  padding: 10px;
}

.social ul li.in a {
  color: #df588a;
}

.social ul li.fb a {
  color: #3742d0;
}

.social ul li.pin a {
  color: #dd4d5a;
}

.newsletter {
  height: 350px;
  background-image: url(../assets/img/fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.newsbox {
  background-color: rgba(0, 0, 0, 0.342);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 100%;
  padding: 5px;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.76);
}

.newsbox h3 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.newsbox p {
  color: white;
  font-family: "Poppins", sans-serif;
}

.newsbox input {
  width: 350px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #e2ba87;
}

ahover {
  color: #79541e;
}

p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1px;
  line-height: 20px;
  padding: 5px;
}

h5 {
  font-size: 45px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.76);
}

body {
  background-color: #f8ecdc;
  overflow-x: hidden;
}

.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titulo {
  background-color: #e2ba87;
  font-family: "Poppins", sans-serif;
  padding: 5px 0px;
  color: white;
  text-align: center;
}

.btn {
  background-color: #c79f6c;
  border: solid 1px #79541e;
}

.btn:hover {
  background-color: #c7a06cad;
  border: solid 1px #79551eda;
}

.faq {
  text-align: center;
}

.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px;
}

.listas {
  padding-left: 0;
  list-style: none;
}

.info {
  background-color: #f8ecdc;
  width: 100%;
}

.info .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.info p {
  margin: 0px 15px;
}

.info i {
  margin: 0px 15px;
}

.lv {
  border-left: 1px solid #868686;
  height: 100px;
}

@media (max-width: 418px) {
  .contenedor img {
    display: none;
  }
  .logo {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mapa {
    width: auto;
  }
  .newsbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newsbox .input {
    width: auto;
  }
  .info {
    width: auto;
    text-align: center;
  }
  .info .box {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info p, .info i {
    margin: 0px 2px;
  }
  .lv {
    display: none;
  }
}

@media (max-width: 820px) {
  .contenedor img {
    display: none;
  }
  .mapa {
    width: auto;
  }
  .newsbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newsbox .input {
    width: auto;
  }
  .info {
    width: auto;
    text-align: center;
  }
  .info .box {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info p, .info i {
    margin: 0px 2px;
  }
  .lv {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */