.ubicacion{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: map-get($texto, margin);
}

.mapa{
    height: 500px;
    width: 700px;
}

.formulario{
    height: max-content;
    border-radius: 4px;
    width: 600px;
}