.newsletter{
    height: 350px;
    background-image: url(../assets/img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.newsbox{
    background-color: rgba(0, 0, 0, 0.342);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    max-width: 100%;
    padding: 5px;
    text-shadow: 0px 0px 6px rgba(0,0,0,0.76);
        h3{
            color: white;
            font-family: $fuentePrincipal;
            font-weight: bold;
        }
        p{
        color: white;
        font-family: $fuente2;
        }
        input{
            width: 350px;
        }
}