.newsletter{
    height: 250px;
    background-image: url(../assets/img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    max-width: 100%;
    padding: 3px;
    box-shadow: 2px 2px 19px 3px rgba(0,0,0,0.58);
}

.newsletter_texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    text-shadow: 0px 0px 6px rgba(0,0,0,0.76);
        h3{
            color: white;
            font-family: $fuentePrincipal;
            font-weight: bold;
        }
        p{
        color: white;
        font-family: $fuente2;
        }
}

.formularionl{
    height: max-content;
    border-radius: 4px;
    width: 600px;
    color: white;
}