$colorFondo : #f8ecdc;
$colorPrimario : #c79f6c;
$colorSecundario : #e2ba87;

$fuentePrincipal: 'Roboto', sans-serif;
$fuente2: 'Poppins', sans-serif;
$fuente3: 'Source Serif Pro', serif;

$texto:(
    align: center,
    color: #fff,
    padding: 20px,
);

@mixin propiedadesp ($bg-color,$ancho, $alto) {
    background-color: $bg-color;
    width: $ancho;
    height: $alto;
}

.boxshadow{
    box-shadow: 2px 2px 19px 3px rgba(0,0,0,0.58);
}