@import "variables";
@import "menu";
@import "contacto";
@import "footer";


*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:#e2ba87;
}

p{
    margin-top: 0;
    margin-bottom: 1px;
}

body{
    background-color: $colorFondo;
}

/* Newsletter */

.newsletter{
    height: 250px;
    background-image: url(../assets/img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    max-width: 100%;
    padding: 3px;
    box-shadow: 2px 2px 19px 3px rgba(0,0,0,0.58);
}

.newsletter_texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    text-shadow: 0px 0px 6px rgba(0,0,0,0.76);
        h3{
            color: white;
            font-family: $fuentePrincipal;
            font-weight: bold;
        }
        p{
        color: white;
        font-family: $fuente2;
        }
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titulo{
    background-color: $colorPrimario;
    font-family: $fuente2;
    padding: 5px;
    color: white;
    text-align: center;
}

.btn{
    background-color: $colorPrimario;
    border: solid 1px #79541e;
        &:hover{
            background-color: #c7a06cad;
            border: solid 1px #79551eda;
        }
}

.faq{
    text-align: map-get($texto, align);
    padding: 10px;
}

.contenedor{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
}

.listas{
    padding-left: 0;
    list-style: none;
}


@media (max-width: 418px){
    .checkmenu{
        display: block;
    }
    .menu{
        display: flex;
        justify-content: center;
    ul{
        @include propiedadesp ($colorPrimario, 100%, 100%);
        position: fixed;
        top: 150px;
        left: -100%;
        text-align: map-get($texto , align);
        z-index: 3;
    }
    ul li{
        display: block;
        margin: 30px 0;
        line-height: 20px;
    }
    ul li a{
        font-size: 20px;
    }
}
    #check:checked ~ ul{
        left: 0;
    }
    .contenedor img{
        display: none;
    }

    .mapa{
        width: 300px;
    }
}

@media (max-width: 820px){
    .checkmenu{
        display: block;
    }
    .menu{
        display: flex;
        justify-content: center;
            ul{
                @include propiedadesp ($colorPrimario, 100%, 100%);
                position: fixed;
                top: 150px;
                left: -100%;
                text-align: map-get($texto , align);
                z-index: 3;
            }
            ul li{
                display: block;
                margin: 30px 0;
                line-height: 20px;
            }
            ul li a{
                font-size: 20px;
            }
}
    #check:checked ~ ul{
        left: 0;
    }
    .contenedor img{
        display: none;
    }

    .mapa{
        width: 400px;
    }
}