@import "variables";
@import "menu";
@import "contacto";
@import "footer";
@import "newsletter";


*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:#e2ba87;
        &hover{
            color: #79541e;
        }
}

p{
    font-family: $fuente2;
    margin-bottom: 1px;
    line-height: 20px;
    padding: 5px;
}

h5{
    font-size: 45px;
    font-family: $fuente2;
    margin-bottom: 15px;
    text-shadow: 0px 0px 6px rgba(0,0,0,0.76);
}

body{
    background-color: $colorFondo;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titulo{
    background-color: $colorSecundario;
    font-family: $fuente2;
    padding: 5px 0px;
    color: white;
    text-align: center;
}

.btn{
    background-color: $colorPrimario;
    border: solid 1px #79541e;
        &:hover{
            background-color: #c7a06cad;
            border: solid 1px #79551eda;
        }
}

.faq{
    text-align: map-get($texto, align);
}

.contenedor{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
}

.listas{
    padding-left: 0;
    list-style: none;
}

.info{
    background-color: $colorFondo;
    width: 100%;
        .box{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0;
        }
        p{
            margin: 0px 15px;
        }
        i{
            margin: 0px 15px;
            padding: 5px;
        }
}

.lv{
    border-left: 1px solid rgb(134, 134, 134);
    height: 100px;
}


@media (max-width: 418px){
    .checkmenu{
        display: block;
        z-index: 10;
    }
    .menu{
        display: flex;
        justify-content: center;
            ul{
                @include propiedadesp ($colorPrimario, 100%, 100%);
                padding-top: 30px;
                top: 0px;
                left: -100%;
                position: fixed;
                text-align: map-get($texto , align);
            }
            ul li{
                display: block;
                margin: 30px 0;
                line-height: 20px;
            }
            ul li a{
                font-size: 20px;
            }
}
    #check:checked ~ ul{
        left: 0;
        position: absolute;
    }
    .contenedor img{
        display: none;
    }

    .mapa{
        width: 300px;
    }

    .newsbox {
        flex-direction: column;
        .input{
            width: auto;
        }
    }

    .info{
        width: auto;
        .box{
            display: block;
            flex-direction: column;
        }
        p, i{
            margin: 0px 2px;
        }
    }


    .lv{
        display: none;
    }
}

@media (max-width: 820px){
    .checkmenu{
        display: block;
        z-index: 10;
    }
    .menu{
        display: flex;
        justify-content: center;
            ul{
                @include propiedadesp ($colorPrimario, 100%, 100%);
                padding-top: 30px;
                top: 0px;
                left: -100%;
                position: fixed;
                text-align: map-get($texto , align);
                z-index: 3;
            }
            ul li{
                display: block;
                margin: 30px 0;
                line-height: 20px;
            }
            ul li a{
                font-size: 20px;
            }
}
    #check:checked ~ ul{
        left: 0;
        position: absolute;
    }
    .contenedor img{
        display: none;
    }

    .mapa{
        width: 400px;
    }

    .newsbox {
        flex-direction: column;
            .input{
                width: auto;
            }
    }
    .info{
        width: auto;
        .box{
            display: block;
            flex-direction: column;
        }
        p, i{
            margin: 0px 2px;
        }
    }

    .lv{
        display: none;
    }
}